

.navbar-dark .navbar-nav .nav-link {
    color: green; /* Boja teksta u nav-linku */
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline; /* Pocrtavanje na hover */
}

.navbar {
    max-height: 100px; /* Maksimalna visina navigacijske trake */
}

.tekst{
    padding-right: 20px;
    color: white;
}
.nav-link{
    color: green;
    font-size: 27px;

}
/* Prva sekcija */
.image-section{
    background-image: url('../images/Izrezak.PNG');
    background-size: cover;
    background-position: center;
    height: 750px;
    color: white;
    text-align: center;
}

.image-section h2{
    padding-top: 200px;
    font-family: 'Orbiton', sans-serif;
    font-size: 45px;
    padding-bottom: 20px;
}
.image-section p{
    font-family: 'Orbiton', sans-serif;

}



/* Druga sekcija*/
.image-container {
    max-height: 700px;
    display: flex;
    justify-content: space-around;
    background-color: #404040;
    padding: 280px 0 0 0;
    padding-bottom: 120px;
    flex-direction: column;
    align-items: flex-start;
}
.row{
    display: flex;
}

.image-container h2	{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-bottom: 100px;

}

.image-container img {
    width: 350px;
    height: 350px;
    margin: 0 50px;
    display: flex;
    margin-left: 100px;
}

.image-container p {
    font-family: 'Orbiton', sans-serif;
    color: green;
    text-align: center;
}

.image-container p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
}
/*Treća sekcija */
.contact-section {
    height: 700px;
    background-color: #404040;
    text-align: center;
    padding: 100px 0; /* Prilagodite padding prema potrebi */
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.lead{
    font-size: 25px;
}