/*Navigacijski meni*/
@media (max-width: 767px) {
    .navbar-toggler {
        color: green; /* Boja ikonice togglera na manjim ekranima */
    }

    .navbar-toggler-icon {
        background-color: green; /* Boja ikonice togglera na manjim ekranima */
    }

    .navbar-nav {
        background-color: #404040; /* Boja pozadine za dropdown na manjim ekranima */
    }

    .navbar-nav .nav-link {
        color: white; /* Boja teksta u nav-linku na manjim ekranima */
    }
}

/* Stilovi koje ste već imali */
.navbar-dark .navbar-nav .nav-link {
    color: green; /* Boja teksta u nav-linku */
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline; /* Pocrtavanje na hover */
}

.navbar {
    height: 100px; /* Postavite visinu na fiksnu vrijednost */
    max-height: 100px; /* Maksimalna visina navigacijske trake */
}

.tekst {
    padding-right: 20px;
    color: white;
}

.nav-link {
    color: green;
    font-size: 25px;
}

.navbar-brand img,
.ml-auto img {
    height: 70px; /* Postavite visinu slika na visinu navigacijske trake */
    margin-top: 0; /* Postavite margin-top na 0 kako bi slike bile bliže vrhu navigacijske trake */
}

.ml-auto div {

    align-items: center;
}

.ml-auto .tekst {
    padding-right: 10px;
    padding-bottom: 10px;
}


/* Prva sekcija */
.image-section{
    background-image: url('../images/Izrezak.PNG');
    background-size: cover;
    background-position: center;
    height: 850px;
    color: white;
    text-align: center;
}

.image-section h2{
    padding-top: 200px;
    font-family: 'Orbiton', sans-serif;
    font-size: 45px;
    padding-bottom: 20px;
}
.image-section p{
    font-family: 'Orbiton', sans-serif;

}



/* Druga sekcija */
.image-container {

    max-width: 100%;
    overflow: hidden;
    background-color: #404040;
    text-align: center;
    padding: 100px 20px; /* Prilagodite padding prema potrebi */
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.image-container h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.image-container img {
    width: 350px;
    height: 350px;
    margin: 0 50px;
    display: flex;
    margin-left: 100px;
}

.image-container p {
    font-family: 'Orbiton', sans-serif;
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

/* Treća sekcija */
.contact-section {
    height: 700px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #404040;
    text-align: center;
    padding: 50px 20px; /* Dodao px za mjernu jedinicu */
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.lead {
    font-size: 25px;
    margin-bottom: 30px;
}
